services:
  carla-server:
    image: carlasim/carla:0.9.15
    # Headless (no GUI) mode with Vulkan rendering and no sound
    command: /bin/bash -c "./CarlaUE4.sh -vulkan -RenderOffScreen -nosound"
    ports:
      - "2000-2002:2000-2002"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  carla-client:
    image: carla-pipeline-client # Build this image on server or pull from DockerHub
    build: .
    depends_on:
      - carla-server
    environment:
      - CARLA_HOST=carla-server
      - AWS_BUCKET_NAME=${AWS_BUCKET_NAME}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]